*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

    
}
.container{
    margin: 0;
    padding: 0;

}

.navbar{
	background-color: black;
}

.navbar-brand{
    font-size: 40px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand:hover{
    color: white;
}

.navbar-toggle{
    border: 2px solid white;
}

.icon-bar{
    background-color: white;
}

.menu-item{
    width: 100%;
    margin: 10;
    padding: 10;
    font-size: 1.5em;
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    background-color: grey;
    
}
.menu-item:hover{
    color:green;
}

.row{
	margin: 30px;
}

.Main-Title{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-align: center;
    width: 100%;
    font-weight: bolder;

}

.box{
    border: 2px solid black;
    background-color: burlywood;
    padding: 20px;
    position: relative;
    margin: 20px;
    width: auto;
    height: auto;
}
.h1{
    text-align: center;
    font-size: 3rem;
    position: relative;
    padding-bottom: 10px;
    font-weight: bolder;
}